.home-section {
    display: flex;
    height: 100vh;
}

.home-container {
    animation: fadeIn 0.8s ease-in-out;
    display: flex;
    justify-content: center;
    width: 100vw;
    margin: 0 auto;
    padding: 40px 20px 0px 20px;
}

.home-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 150px;
    width: 60%;
}

.home-text h1 {
    font-family: 'Fresca', sans-serif;
    font-size: 9rem;
    color: #ffffff;
    margin: 0px 0px 10px 0px; 
}

.home-text h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 2.5rem;
    color: #ED8F05;
}

.home-image {
    display: flex;
    justify-content: center;
    padding-top: 120px;
    width: 40%;
}

.home-image img {
    animation: up-down 5s ease-in-out infinite;
    height: 500px;
    width: 100%; 
    margin-right: 20px;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        padding: 40px 5px 0px 30px;
        justify-content: flex-start;
    }
    
    .home-text {
        text-align: left;
        padding-top: 0px;
    }

    .home-text h1 {
        font-size: 3rem;
    }

    .home-text h2 {
        font-size: 1.5rem;
    }

    .home-image {
        width: 100%;
    }

    .home-image img {
        width: 100%;
        height: fit-content;
    }
}